@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom scrollbar to match the design aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #FF8C00;
  border-radius: 4px;
}

body {
  background-color: #101010;
  color: #E5E5E5;
  scroll-behavior: smooth;
}